name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
defaults:
  run:
    working-directory: front/ip-tracker

permissions:
  contents: read #lire le contenu du repo
  pages: write #publier sur github pages
  id-token: write #générer un token pour login Github pages

concurrency: #tjrs le dernier état (prendre en compte le dernier déploiement )
  group: pages
  cancel-in-progress: true

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front/ip-tracker/package-lock.json

      - run: npm ci
      - run: npm run type-check

  test:
    runs-on: ubuntu-latest
    needs: type-check
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front/ip-tracker/package-lock.json

      - run: npm ci
      - run: npm run test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front/ip-tracker/package-lock.json

      - run: npm ci
      - run: npm run build

      - name: Upload dist artifact # artifact (dossier généré par la pipeline qui se conserve)
        uses: actions/upload-pages-artifact@v3 #action github pour stocker des fichiers
        with:
          path: front/ip-tracker/dist #coller le contenu buildé dans dist
          retention-days: 7 #garder le dossier 7 jours
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v4
      - id: deployment
        uses: actions/deploy-pages@v4
